<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/authcontent/icon.jpg">
                HA Auth Server
            </h1>
        </div>
    </div>

    <div class="row">
        <ul>
            <li>
                Open ID Connect <a href="~/.well-known/openid-configuration">discovery document</a>
            </li>
            <li> Manage your <a href="~/grants">stored grants.</a></li>
        </ul>
    </div>
</div>
